# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dell\Desktop\医院管理系统\数据库版本8对应的源码\idea开发（别选我，选下一层）\hospital\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
